* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #FFFEFA;
}

/* common class  */
.hidden{
    display: none;
}
.btn {
    background-color: #872BFF;
    padding: 14px 30px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    box-shadow: 0 11px 31px 0 #8C8C8C;
    cursor: pointer;
    margin-right: 20px;
    border: 2px solid #872BFF;

    transition: all .5s;

}

.btn:hover {
    background-color: white;
    color: black;


}

.btn-white {
    background-color: white;
    color: black;


}

.container {
    width: 87.5%;
    margin: 0 auto;
}

.heading {
    margin-bottom: 60px;
    text-align: center;

}

.heading h4 {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #6A14DA;
    font-weight: bold;
    margin-bottom: 20px;
}

.heading h2 {
    font-size: 44px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 60px;
}

.card {
    background-color: white;
    /* border: 1px solid red; */
    padding: 40px;
    text-align: center;
    width: 320px;
    box-shadow: 0 4px 4px #00000025;
    border-radius: 16px;
}

.card * {
    margin-bottom: 20px;
}

.card h3 {
    font-size: 22px;
    font-weight: bolder;
}

.card p {
    font-size: 16px;
    color: #0D1321;
}

.card a {
    color: black;
    font-weight: bold;
}

.project-card {
    padding: 48px;
    background-color: #FFFFFF;
    border: 1px solid #872BFF;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 60px;
}

.project-img img {
    width: 400px;
    border-radius: 20px;
}

.project-content h3 {
    font-size: 30px;
}

.project-content p {
    color: #0E0E0E70;
}

.project-content * {
    margin-bottom: 20px;
}


.brands {
    padding: 40px;
    background-color: white;
    box-shadow: 0 4px 4px #00000025;
    border-radius: 16px;
}

#hero {

    /* margin  */
    margin-bottom: 150px;
    /* padding  */
    padding-top: 20px;



    background: url("image/Hero-bg.png");
    background-size: 500px;
}

#hero-container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 40px;

    width: 87.5%;
    /* background: yellow; */
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    padding-right: 20px;
}

#hero-content {
    padding-bottom: 100px;
}

#hero-content h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

#hero-content h1 span {
    color: #872BFF;
}

#hero-content p {
    font-size: 16px;
    color: #8A8A8A;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 30px;
}

#hero-image img {
    width: 500px;
    vertical-align: middle;
}

#skill,
#projects,
#experience {
    margin-bottom: 150px;
}

.company-card {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.btn-container {
    text-align: center;
    padding: 60px 0;
}
/* Responsive */
/* responsive for laptop device 1025-1200px */
@media screen and (max-width:1200px){
    
#hero-content h1 {
    font-size: 32px;
    margin-bottom: 30px;
}
    .hero-btn{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    #hero-content p {
    font-size: 13px;
    
}
}
/* responsive for tablet device from 769px-1024px */
@media screen and (max-width:1024px){
    #hero-content h1 {
    font-size: 23px;
    

}
.project-content p{
    font-size: 12px;
}
.card{
    width: 100%;
}
.card-box{
    flex-direction: column;
}

#hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
 .hero-btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }
    #hero-image img {
    width: 300px;}
    #hero-content {
    padding-bottom: 0px;
}
.heading h2 {
    font-size: 35px;
}
.project-card {
    width: 100%;
    display: flex;
    padding: 25px;
   
    
}
}
/* responsive for android device landscape 569-768px */
@media screen and (max-width:768px){
    .project-card {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
        .project-card {
            width: 100%;
        }
        .brands{
            width: 100%;
        }
        .card{
            padding: 20px;
        }
}
/* responsive for androit potrait from 290px-568px */
@media screen and (max-width: 568px){
    .container {
    width: 100%;
    margin: 0 auto;
}
.hero-btn{
    gap: 5px;
    flex-direction: column;
}
 #hero-image img {
    width: 100%;}
.heading h4{
    font-size: 22px;
}
.heading h2 {
    font-size: 20px;
}
.card-box {
    display: flex;
    flex-direction: column;
}

.heading h2 {
    font-size: 22px;
}
.card{
     width: 100%;
}
.project-img img{
    width: 261px;
}
.container {
    width: 87.5%;
    margin: 0 auto;
}
.heading h2{
    font-size: 20px;
}
.brands {
    width: 100%;
}
#hero-container{
    padding: 0;
}
.hero-btn{
    gap: 5px;}
    .btn{
        margin-right: 0;
        padding: 10px 20px;
    }
        .project-img img {
        width: 100%;
    }
    .project-card{
        padding: 10px;
    }
    .brands img{
        width: 100%;
    }
    .project-card{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}